<div class="artistsearch">
  <div class="card search">
    <h1>Artist Directory</h1>
    <label>search <span *ngIf="query"> for: {{query}}</span></label>
    <input [(ngModel)]="query" placeholder="type in search term">
  </div>
</div>

<ul class="artistlist cf">
  <li class="artist cf" #artistContainer (click)="onClick(item, artistContainer)" *ngFor="#item of artists">
    <img src="images/{{item.shortname}}_tn.jpg" alt="{{item.name}} Photo">
    <div class="info">
      <h2>{{item.name}}</h2>
      <h3>{{item.reknown}}</h3>
    </div>
  </li>
</ul>
